{% extends 'layout/base.html' %}
{% load static %}
{% load post_extras %}

{% block content %}
    <div class="posts-page-content">
        <div class="add-attachments-popup-overlay" style="display: none">
            <div class="add-attachments-popup">
                <div class="popup-header">
                    <div class="popup-header-block-1">
                        <div class="popup-close-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 329 329"><use href="#popup-close-icon"><path id="popup-close-icon" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"></path></use></svg>
                        </div>
                        <div class="popup-attachment-number-text"></div>
                    </div>
                    <button class="popup-send-btn">Send</button>
                </div>
                <div class="popup-attachment-list custom-scrollbar"></div>
                <div class="popup-text-input-wrapper">
                    <span class="popup-text-input scrollbar-transparent" contenteditable placeholder="Caption"></span>
                </div>
            </div>
        </div>
        <div class="posts-wrapper">
            <div class="posts custom-scrollbar">
                <div class="posts-inner">
                    <div class="post">
                        <div class="post-author">suleimanoff</div>
                        <div class="post-content">
                            Фишки, которые вы могли не заметить (фронтэнд):<br>
                            - прикольный вывод ошибок при авторизации<br>
                            - скролл снизу-вверх (ну типо тг же)<br>
                            - кнопка отправки активна только когда поле текста не пустое<br>
                            - текст «прыгает» туда-сюда из одного поля ввода в другое<br>
                            - увеличение высоты полей ввода по мере их заполнения<br>
                            - скачивание файлов<br>
                            <br>Фишки, которые вы скорее всего заметили (бэкэнд):<br>
                            - файлы на сервере хранятся с uuid сгенерированными именами<br>
                            - кастомные template filters<br>
                            - Docker 🤩<br>
                            <br>Приятного пользования!
                        </div>
                        <div class="post-info">
                            <div class="post-times-viewed">&#8734;</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 489 489"><use href="#times-viewed-icon"><path id="times-viewed-icon" d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2 s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025 c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3 C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7 c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z"></path></use></svg>
                            <div class="post-time-published">12:00 a.m.</div>
                        </div>
                    </div>
                    {% for post in posts %}
                        <div class="post">
                            <div class="post-author">{{ post.author.username }}</div>
                            <div class="post-attachment-list">
                                {% for attachment in post.attachments %}
                                    <div class="post-attachment-list-element">
                                        {% if attachment.name|is_image %}
                                            <a class="image-attachment-icon" href="{% get_media_prefix %}{{ attachment.url }}" download style="background-image: url({% get_media_prefix %}{{ attachment.url }});background-size: cover;">
                                        {% else %}
                                            <a class="default-attachment-icon" href="{% get_media_prefix %}{{ attachment.url }}" download>
                                                <div class="attachment-extension">{{ attachment.name|extension }}</div>
                                        {% endif %}
                                        <div class="icon-overlay">
                                            <div class="icon-overlay-inner">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <use href="#eye-icon-part-1"><path id="eye-icon-part-1" d="m12 16c-.205 0-.401-.084-.542-.232l-5.25-5.5c-.455-.476-.117-1.268.542-1.268h2.75v-5.75c0-.689.561-1.25 1.25-1.25h2.5c.689 0 1.25.561 1.25 1.25v5.75h2.75c.659 0 .997.792.542 1.268l-5.25 5.5c-.141.148-.337.232-.542.232z"></path></use>
                                                    <use href="#eye-icon-part-2"><path id="eye-icon-part-2" d="m22.25 22h-20.5c-.965 0-1.75-.785-1.75-1.75v-.5c0-.965.785-1.75 1.75-1.75h20.5c.965 0 1.75.785 1.75 1.75v.5c0 .965-.785 1.75-1.75 1.75z"></path></use>
                                                </svg>
                                            </div>
                                        </div>
                                        </a>
                                        <div class="attachment-info">
                                            <div class="attachment-name">{{ attachment.name }}</div>
                                            <div class="attachment-size">{{ attachment.size|pretty_size }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="post-content">
                                {{ post.text }}
                            </div>
                            <div class="post-info">
                                <div class="post-times-viewed">{{ post.times_viewed }}</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 489 489"><use href="#times-viewed-icon"><path id="times-viewed-icon" d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2 s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025 c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3 C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7 c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z"></path></use></svg>
                                <div class="post-time-published">{{ post.time_published.time }}</div>
                            </div>
                        </div>
                    {% empty %}
                        {# TODO: fancy block that says something like "No posts yet, be the first to write!" #}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="add-post-form-wrapper">
            <form class="add-post-form" action="" method="post" enctype="multipart/form-data">
                <div class="add-post-form-inner">
                    {% csrf_token %}
                    <span class="add-post-text-input custom-scrollbar" contenteditable placeholder="Post"></span>
                    {{ form }}
                </div>
                <div class="add-post-btn-wrapper">
                    <button disabled class="add-post-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><use href="#send-post-icon"><path id="send-post-icon" d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z"></path></use></svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
