@import 'reset.css';
@import 'fonts.css';

/* Common */

body {
    font-family: Roboto, sans-serif;
}

.errorlist {
    display: none;
}

.scrollbar-transparent {
    overflow-y: auto;
    scrollbar-width: none;
}

.custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
}

.scrollbar-transparent::-webkit-scrollbar, .scrollbar-transparent::-webkit-scrollbar-track, .scrollbar-transparent::-webkit-scrollbar-thumb {
    width: 0;
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar, .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bdc1c3;
    border-radius: 100px;
    width: 6px;
}

[placeholder]:empty::before {
    cursor: text;
    content: attr(placeholder);
    color: #a2acb4;
}

[placeholder]:empty:focus::before {
    content: "";
}

/* Sign up, Sign in pages */

.auth-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.auth-image {
    width: 100px;
    height: 100px;
}

.auth-title {
    line-height: 110%;
    font-size: 32px;
    font-weight: 500;
    margin: 44px 0 14px;
}

.auth-subtitle {
    line-height: 1.35;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #707579;
}

.auth-form {
    margin-top: 50px;
}

.auth-form label {
    cursor: text;
    transition: .2s ease;
    position: relative;
    left: 14px;
    top: -12px;
    background-color: #fff;
    font-size: 12px;
    color: #9e9e9e;
    padding: 0 5px;
}

.auth-form input {
    cursor: text;
    display: block;
    box-sizing: content-box;
    line-height: 1.3125;
    caret-color: #3390ec;
    font-size: 16px;
    font-weight: 400;
    border:none;
    box-shadow: 0 0 0 1px #dfe1e5;
    border-radius: 10px;
    transition: .2s ease;
    width: 328px;
    padding: 15px;
    margin-top: -24px;
}

.auth-form input:nth-last-child(2n+5) {
    margin-bottom: 24px;
}

.auth-form button, .auth-form a {
    transition: .2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.15;
    font-size: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    width: 360px;
    height: 54px;
}

.auth-form button {
    color: #fff;
    background-color: #3390ec;
    font-weight: 500;
    margin-top: 24px;
}

.auth-form button:hover {
    background-color: #157ce1;
}

.auth-form a {
    text-decoration: none;
    background-color: transparent;
    color: #3390ec;
    font-weight: 400;
    margin-top: 8px;
}

.auth-form a:hover {
    background-color: rgba(51, 144, 236, 0.08);
}

/* Posts page */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(114, 114, 114, 0.17);
    width: 100%;
    padding: 8px 24px;
}

.header .info {
    display: flex;
    align-items: center;
}

.header .info .info-content {
    margin-left: 10px;
}

.header .info .info-content .info-title {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
}

.header .info .info-content .info-subs {
    color: #707579;
    font-size: 14px;
    line-height: 18px;
}

.header .logout-btn {
    text-decoration: none;
    color: #e53935;
}

.header .logout-btn:hover {
    transition: .2s ease;
    opacity: .75;
}

.header-icon {
    width: 40px;
    height: 40px;
}

.add-attachments-popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000040;
    width: 100vw;
    height: 100vh;
}

.add-attachments-popup {
    background-color: #fff;
    border-radius: 10px;
    width: 420px;
}

.add-attachments-popup .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px 0 15px;
}

.add-attachments-popup .popup-header-block-1 {
    display: flex;
    align-items: center;
}

.add-attachments-popup .popup-close-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    background-color: #fff;
    border-radius: 100px;
    width: 44px;
    height: 44px;
}



.add-attachments-popup .popup-close-btn:hover {
    background-color: #f4f4f4;
}

.add-attachments-popup .popup-close-btn svg {
    fill: #707579;
}

.add-attachments-popup .popup-attachment-number-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 21px;
}

.add-attachments-popup .popup-send-btn {
    transition: .2s ease;
    background-color: #3390ec;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}

.add-attachments-popup .popup-send-btn:hover {
    background-color: #4a95d6;
}

.add-attachments-popup .popup-attachment-list {
    overflow-y: auto;
    max-height: 300px;
    padding: 0 20px 0;
    margin-top: 20px;
}

.post .post-attachment-list {
    padding-top: 4px;
}

.popup-attachment-list .popup-attachment-list-element, .post .post-attachment-list-element {
    display: flex;
}

.post .post-attachment-list-element {
    min-width: 275px;
    padding: 4px 8px 4px;
}

.popup-attachment-list .popup-attachment-list-element:nth-child(n+2) {
    margin-top: 24px;
}

.popup-attachment-list-element .default-attachment-icon, .post-attachment-list-element .default-attachment-icon {
    background-color: #3390ec;
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

.post-attachment-list-element .default-attachment-icon, .post-attachment-list-element .default-attachment-icon img, .post-attachment-list-element .image-attachment-icon, .post-attachment-list-element .image-attachment-icon img {
    text-decoration: none;
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

.popup-attachment-list-element .default-attachment-icon::before, .post-attachment-list-element .default-attachment-icon::before, .post-attachment-list-element .default-attachment-icon .icon-overlay::before {
    content: "";
    display: block;
    float: right;
    background-color: #00000040;
    border-bottom-left-radius: 4px;
    border-style: solid;
    border-color: transparent #fff transparent #fff;
    border-width: 0 16px 16px 0;
}

.post-attachment-list-element .default-attachment-icon .icon-overlay, .post-attachment-list-element .image-attachment-icon .icon-overlay {
    transition: .2s ease;
    position: relative;
    background-color: #00000080;
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom: 48px;
    border-radius: 5px;
}

.post-attachment-list-element .image-attachment-icon .icon-overlay {
    bottom: 0;
}

.default-attachment-icon .icon-overlay-inner, .image-attachment-icon .icon-overlay-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.default-attachment-icon .icon-overlay-inner {
    position: relative;
    bottom: 17px;
}

.icon-overlay svg {
    fill: #fff;
    margin: auto;
}

.post-attachment-list-element .default-attachment-icon .icon-overlay:hover, .post-attachment-list-element .image-attachment-icon .icon-overlay:hover {
    opacity: 1;
}

.popup-attachment-list-element .attachment-extension, .post-attachment-list-element .attachment-extension {
    cursor: default;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 20px 0 4px 0;
}

.post-attachment-list-element .attachment-extension {
    cursor: pointer;
}

.popup-attachment-list-element .attachment-info, .post-attachment-list-element .attachment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.popup-attachment-list-element .attachment-name, .post-attachment-list-element .attachment-name {
    font-size: 16px;
    line-height: 24px;
}

.post-attachment-list-element .attachment-name {
    font-weight: 500;
}

.popup-attachment-list-element .attachment-size, .post-attachment-list-element .attachment-size {
    color: #707579;
    line-height: 16px;
}

.add-attachments-popup .popup-text-input-wrapper {
    padding: 0 20px 30px;
}


.add-attachments-popup .popup-text-input {
    display: block;
    outline: none;
    z-index: 2;
    overflow: auto;
    transition: .2s ease;
    resize: none;
    box-shadow: 0 0 0 1px #dfe1e5;
    border-radius: 10px;
    caret-color: #3390ec;
    line-height: 1.375;
    width: 100%;
    max-height: 212px;
    padding: 13px;
    margin-top: 28px;
}

#popup-text-input-placeholder {
    position: relative;
    left: 14px;
    bottom: 36px;
    color: #a2acb4;
}

.add-attachments-popup .popup-text-input:hover {
    box-shadow: 0 0 0 1px #3390ec;

}

.add-attachments-popup .popup-text-input:focus {
    box-shadow: 0 0 0 2px #3390ec;
}

.posts-page-content .posts-wrapper {
    box-sizing: border-box;
    background-color: #e6ebee;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding: 56px 0 88px;
}

.posts-page-content .posts {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 144px);
    padding: 16px 0 2px;
    margin: 0 auto 0;
}

.posts-page-content .posts .posts-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    width: 808px;
    margin: auto;
}

.posts-page-content .posts .post {
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 66%;
    box-shadow: rgba(114, 114, 114, 0.25) 0 1px 2px 0;
}

.posts-page-content .posts .post:nth-child(n+2) {
    margin-top: 10px;
}

.posts .post .post-author {
    color: #3390ec;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 4px 8px 0;
}

.posts .post .post-content {
    box-sizing: border-box;
    line-height: 21px;
    padding: 4px 8px;
}

.posts .post .post-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #686c72bf;
    font-size: 12px;
    line-height: 12px;
    padding: 0 6px 2px;
}

.posts .post .post-info .post-times-viewed {
    margin-right: 4px;
}

.posts .post .post-info svg {
    margin-right: 8px;
}

.posts .post .post-info svg {
     fill: #686c72bf;
}

.add-post-form-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #e6ebee;
    width: 100%;
    padding: 15px 0;
}

.add-post-form {
    display: flex;
    width: 808px;
    max-width: 808px;
}

.add-post-form label[for="id_text"], .add-post-form input[type="file"] {
    display: none;
}

.add-post-form-inner {
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(114, 114, 114, 0.17);
    border-radius: 10px;
    width: 100%;
    padding: 0 24px;
}

.add-post-form-inner textarea {
    display: none;
}

.add-post-form-inner .add-post-text-input {
    outline: none;
    transition: .2s ease-in-out;
    overflow-x: hidden;
    resize: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    max-width: 646px;
    min-height: 21px;
    max-height: 381px;
    padding: 17px 0;
    margin-right: 24px;
}

.add-post-form-inner label[for="id_attachments"] {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-bottom: 17px;
}

.add-post-form-inner label[for="id_attachments"] svg {
    fill: #707579cc;
    transition: .2s ease;
}

.add-post-form-inner label[for="id_attachments"]:hover svg {
    fill: #3390ec;
}

.add-post-btn-wrapper {
    display: flex;
    align-items: flex-end;
}

.add-post-btn {
    cursor: pointer;
    transition: .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 100px;
    width: 58px;
    height: 58px;
    margin-left: 8px;
}

.add-post-btn:hover {
    background-color: #3390ec;
}

.add-post-btn svg {
    fill: #3390ec;
    transition: .2s ease;
}

.add-post-btn:hover svg {
    fill: #fff;
}

.add-post-btn:disabled, .add-post-btn:disabled:hover {
    cursor: default;
    background-color: #fff;
}

.add-post-btn:disabled svg, .add-post-btn:disabled:hover svg, .add-post-btn:disabled:hover path {
    fill: #707579cc;
}
