{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <style>
        {% for key, val in field_errors.items %}
            {% if val %}
                #id_{{ key }} {box-shadow: 0 0 0 1px #df3f40}
                label[for="id_{{ key }}"] {color: #df3f40}
            {% endif %}
        {% endfor %}
    </style>
    <div class="auth-page-content">
        <img class="auth-image" src="{% static 'img/icon-160x160.png' %}" alt="Telegram Lite icon"/>
        <h1 class="auth-title">Sign up to Telegram Lite</h1>
        <h2 class="auth-subtitle">Please enter username, password <br> and password confirmation.</h2>
        <form class="auth-form" action="" method="post" autocomplete="off">
            {% csrf_token %}
            <label for="id_username">
                {% if field_errors.username %}
                    {{ field_errors.username }}
                {% else %}
                    Username
                {% endif %}
            </label>
            <input type="text" name="username" placeholder="Username" maxlength="32" required id="id_username">
            <label for="id_password">
                {% if field_errors.password %}
                    {{ field_errors.password }}
                {% else %}
                    Password
                {% endif %}
            </label>
            <input type="password" name="password" placeholder="Password" maxlength="32" required id="id_password">
            <label for="id_confirm_password">
                {% if field_errors.confirm_password %}
                    {{ field_errors.confirm_password }}
                {% else %}
                    Confirm password
                {% endif %}
            </label>
            <input type="password" name="confirm_password" placeholder="Confirm password" maxlength="32" required id="id_confirm_password">
            <button>Sign up</button>
            <a href="{% url 'login' %}">Log in</a>
        </form>
    </div>
{% endblock %}