{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telegram Lite</title>
    <link rel="shortcut icon" type="image/png" href="https://web.telegram.org/z/favicon-32x32.png"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}" ></script>
</head>
<body>
{% include 'layout/header.html' %}
{% block content %}{% endblock %}
</body>
</html>
