{% load static %}

{% if user %}
    <header class="header">
        <div class="info">
            <img class="header-icon" src="{% static 'img/icon-160x160.png' %}" alt="Telegram Lite icon"/>
            <div class="info-content">
                <h1 class="info-title">Telegram Lite</h1>
                <div class="info-subs">{{ user_amount }} {% if user_amount == 1 %}subscriber{% else %}subscribers{% endif %}</div>
            </div>
        </div>
        <a class="logout-btn" href="{% url 'logout' %}">Log out</a>
    </header>
{% endif %}
